{% style %}
  #itineraire-page-{{section.id}} {
    padding-bottom: 120px;
  }
{% endstyle %}

{{ 'main-itineraires.css' | asset_url | stylesheet_tag }}

<div class="page-width" id="itineraire-page-{{section.id}}">
  <h1 class="itineraire-title">Itineraire</h1>
  <metaobject-table>
    <div class="metaobject-box">
      <div class="metaobject-filter grid__item--sidebar">
        <div class="drawer__fixed-header">
          <div class="drawer__header">
            <div class="h2 drawer__title">
              Filter
            </div>
            <div class="drawer__close">
              <button type="button" class="drawer__close-button js-drawer-close">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
                <span class="icon__fallback-text">Close menu</span>
              </button>
            </div>
          </div>
        </div>
        <ul class="no-bullets tag-list tag-list--active-tags"></ul>
      </div>
      <div class="metaobject-table-container">
        <div class="metaobject-tools-box">
          <div class="metaobject-search">
            <input class="metaobject-search-input" placeholder="Search" type="text" />
          </div>
          <div class="metaobject-sort">
            <select class="metaobject-sort-select">
              <option hidden>Sort By</option>
              <option value="DISTANCE_ASC">Distance ></option>
              <option value="DISTANCE_DES">Distance <</option>
              <option value="DUREE_ASC">Durée ></option>
              <option value="DUREE_DES">Durée <</option>
              <option value="DIFFICULTE_ASC">Difficulté ></option>
              <option value="DIFFICULTE_DES">Difficulté <</option>
              <option value="DEPARTEMENT_ASC">Département A-Z</option>
              <option value="DEPARTEMENT_DES">Département Z-A</option>
              <option value="TITRE_ASC">Titre A-Z</option>
              <option value="TITRE_DES">Titre Z-A</option>
            </select>
          </div>
        </div>
        <div class="collection-filter">
          <div class="collection-filter__item collection-filter__item--drawer">
            <button type="button" class="js-drawer-open-collection-filters btn btn--tertiary" aria-controls="FilterDrawer" aria-expanded="false">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" viewBox="0 0 64 64"><path d="M48 42h10M48 42a5 5 0 1 1-5-5 5 5 0 0 1 5 5zM7 42h31M16 22H6M16 22a5 5 0 1 1 5 5 5 5 0 0 1-5-5zM57 22H26"></path></svg>
                Filter
            </button>
          </div>
        </div>
        <div class="total-count-box"><span class="total-count">0</span>&nbsp;<span>itineraires</span></div>
        <div class="metaobject-container">
          <table class="itineraire-table metaobject-table">
            <thead>
              <!-- discipline, pays, region, departemen -->
              <tr>
                <th data-index="1" data-type="strnig" data-filter-sort>Titre</th>
                <th data-index="2" data-type="string" data-filter-select>Département</th>
                <th data-index="3" data-type="string" data-filter-select>Diff</th>
                <th data-index="4" data-type="string" data-filter-select>Dist</th>
                <th data-index="5" data-type="string" data-filter-select>D+</th>
                <th data-index="6" data-type="string" data-filter-select>D-</th>
                <th data-index="6" data-type="string" data-filter-select>Durée</th>
              </tr>
            </thead>      
            <tbody>        
            </tbody>    
          </table>
        </div>
        <div class="pagination-buttons">
        </div>
      </div>
    </div>
    <span class="draw-back-layout"></span>
  </metaobject-table>
</div>

{% schema %}
  {
    "name": "Itinéraires",
    "settings": []
  }
{% endschema %}

<script src="{{ 'metaobjects.js' | asset_url }}"></script>
<script src="{{ 'main-itineraires.js' | asset_url }}"></script>